.btn-primary {
    background-color: #981f1f;
    border: 1px #981f1f;
}
.btn-primary:hover {
    background-color: #981f1f;
    border: 1px #981f1f;
}
.btn-primary-subtle {
    background-color: #981f1f;
    border: 1px #981f1f;
}